  <html>  
<head>  
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>  
	<script>
      
        function initiateLocalStorage() {  
              var app = angular.module('Employees', ['storageService']);  
     app.controller('EmployeesController', ['$scope', 'getLocalStorage', function ($scope, getLocalStorage) {  
                              $scope.employees = getLocalStorage.getEmployees();  
  
                $scope.addEmployee = function () {  
                    $scope.employees.push({ 'Firstname': $scope.firstname, 'Lastname': $scope.lastname, 'Email': $scope.email, 'Phone': $scope.phone, 'City': $scope.city });  
                    getLocalStorage.updateEmployees($scope.employees);  
                    $scope.firstname = '';  
                    $scope.lastname = '';  
                    $scope.email = '';  
					$scope.phone = '';  
					$scope.city = '';  
                      
                };   
                $scope.deleteEmployee = function (emp) {  
                    $scope.employees.splice($scope.employees.indexOf(emp), 1);  
                    getLocalStorage.updateEmployees($scope.employees);  
                    $scope.count = $scope.employees.length;  
                };  
            }]);  
   var storageService = angular.module('storageService', []);  
            storageService.factory('getLocalStorage', function () {  
                var employeeList = {};  
                return {  
                    list: employeeList,  
                    updateEmployees: function (EmployeesArr) {  
                        if (window.localStorage && EmployeesArr) {  
                             
                            localStorage.setItem("employees", angular.toJson(EmployeesArr));  
                        }  
                        employeeList = EmployeesArr;  
  
                    },  
                    getEmployees: function () {  
                          
                        employeeList = angular.fromJson(localStorage.getItem("employees"));  
                        return employeeList ? employeeList : [];  
                    }  
                };  
  
            });  
        }  
    </script>  
  
</head>  
<body ng-app="Employees">  
  
    <div ng-controller="EmployeesController">  
       <form name="frm">  
            <table>  
                <tr>  
                    <td>First name   :  
  
                    </td>  
                    <td>  
                        <input type="text" name="firstname" ng-model="Firstname" required><br />  
                    </td>  
                </tr>  
                <tr>  
                    <td>Last name   :  
  
                    </td>  
                    <td>  
                        <input type="text" name="lastname" ng-model="lastname" required>  
                    </td>  
                </tr>  
                <tr>  
                    <td>Email   :  
  
                    </td>  
                    <td>  
                        <input type="email" name="email" ng-model="email">  
                    </td>  
                </tr>  
				                <tr>  
                    <td>Phone   :  
  
                    </td>  
                    <td>  
                        <input type="number" name="phone" ng-model="phone">  
                    </td>  
                </tr> 
                <tr>  
                    <td>City   :  
  
                    </td>  
                    <td>  
                        <input type="text" name="city" ng-model="city">  
                    </td>  
                </tr>  
				

                <tr>  
                    <td colspan="2" align="right">  
  
                        <button ng-click="addEmployee()" ng-disabled="frm.$invalid">Add Employee</button>  
                    </td>  
  
                </tr>  
            </table>  
        </form>  
        <table cellpadding="4" cellspacing="4" border="1" style="border-collapse: collapse; border: solid 1px #000">  
            <tr>  
                <td><b>First Name</b></td>  
                <td><b>Last Name</b></td>  
                <td><b>Email</b></td>  
				<td><b>Phone</b></td>  
                <td><b>City</b></td>  
            </tr>  
			<div>
            <tr ng-repeat="employee in employees">  
                <td>{{ employee.firstname }}  
                </td>  
                <td>{{ employee.lastname }}  
                </td>  
                <td>{{ employee.email }}  
                </td> 
				<td>{{ employee.phone }}  
                </td>
					<td>{{ employee.city }}  
                </td>
                <td>  
                    <button ng-click="deleteEmployee(employee)">Delete</button>  
  
                </td>  
            </tr>  
  
        </table>  
        
         </div>  
  
</body>  
</html>